%dark {
  background-color: var(--site-background);
  outline: 2px solid #a259ff;
  transition: 0.4s;
  &:hover {
    background: var(--main-color);
    border: none;
  }
}

%white {
  background-color: white;
  color: black;
  transition: 0.4s;
  &:hover {
    background: var(--main-color);
    color: white;
    border: none;
    outline: 2px solid gray;
  }
}

button {
  background: var(--main-color);
  border-radius: 12px;
  font-size: 1rem;
  border: none;
  font-size: 1rem;
  transition: 0.4s;
  cursor: pointer;
  &:hover {
    background: var(--site-background);
    outline: 2px solid var(--main-color);
    color: white;
  }
}
.btn {
  &--primary {
    padding: 0.8rem 1.8rem;
  }
  &--secondary {
    padding: 0.6rem 1.6rem;
  }
  &--tertiary {
    padding: 0.4rem 1.4rem;
  }
  &--dark-primary {
    padding: 0.8rem 1.8rem;
    @extend %dark;
  }
  &--dark-secondary {
    padding: 0.6rem 1.6rem;
    @extend %dark;
  }
  &--dark-tertiary {
    padding: 0.4rem 1.4rem;
    @extend %dark;
  }
  &--white-primary {
    padding: 0.8rem 1.8rem;
    @extend %white;
  }
  &--white-secondary {
    padding: 0.6rem 1.6rem;
    @extend %white;
  }
  &--white-tertiary {
    padding: 0.4rem 1.4rem;
    @extend %white;
  }
}
